.container {
    position: relative;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.blueCircle {
    position: relative;
    background-image: linear-gradient(rgb(61, 184, 232) 75%, rgb(26, 124, 204) 95%);
    border-radius: 100rem;
    width: 15rem;
    height: 15rem;
}

.heroImage {
    position: absolute;
    width: 15rem;
    height: 15rem;
}